table, th, td {
  border: 1px solid black;
  width: 700px;
  margin: auto;
}
th{
  border-radius: 10px;
  color: gray;
  font-weight: bolder;

}
body{
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 100px;
  background-color: blue;
  /* position: fixed; */
}

header nav {
  width: 1000px;
  margin: auto;
  
}

nav img{
  height: 100px;
  width: 250px;
  /* margin-top: 25px; */
  float: left;
}

header ul{
  float: left;
}

header li {
  display: inline;
  line-height: 100px;
  margin-left: 58px;
  color: white;
  font-size: 15px;
}

header li a{
  background-color: orange;
  padding: 5px;
  text-decoration: none;
  color: blue;
  font-size: 20px;
  border-radius: 10px;
}

header li a:hover{
  color:aqua;
  background-color: burlywood;
}

 main{
  width: 1000px;
  margin: auto;  
  background-color: pink;
}


main h1{
  text-align: center;
  font-size: 30PX;
  font-weight: bolder;
  margin-top: 30px;
}


main img{
  margin-top: 30px;
}

main li{
  margin-left:30px;
  float: left;
}

main li:first-child{
  margin-left: 0px;
}

main li:nth-child(3){
  margin-left: 1px;
}
ul img{
  margin-left: 1px;
}

footer{
  height: 100px;
  background-color: #444;
  margin-top: 30px;
}
